<!-- Элемент навигации для Модераторов -->
{% if is_manager %}
    <li>
        <a class="nav-link text-white {% if request.path == '/users/users/' %}active{% endif %}" href="{% url 'users:user_list' %}">Пользователи</a>
    </li>
{% endif %}

<!-- Элемент навигации для Контент-Менеджеров -->
{% if is_content_manager %}
    <li>
        <a class="nav-link text-white {% if request.path == '/blog/' %}active{% endif %}" href="{% url 'blog:index' %}">Блог</a>
    </li>
{% endif %}

<!-- Отступы -->
<li><p></p></li>
<li><p></p></li>