{% extends 'letters/base.html' %}

{% block content %}

  <div>
    <a
      href="{% url 'letters:clients_create' %}"
      type="submit" class="btn btn-outline-info ml-auto mt-4">Создать</a>
    <div class="row">
      {% for client in object_list %}
        <div class="card mt-4 mb-4 mr-4 ml-4 col-lg-3">
          <div class="card-body">
            <h5 class="card-title"><strong>{{ client.full_name|title }}</strong></h5>
            <p class="card-text"><strong>Почта: </strong><em>{{ client.email }}</em></p>
            <p class="card-text"><strong>Комментарий: </strong><em>{{ client.comment }}</em></p>
            <a href="{% url 'letters:clients_update' pk=client.pk %}" class="btn btn-dark mb-2 btn-block">Редактировать</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}