<!-- Наследование от базового шаблона -->
{% extends 'letters/base.html' %}

<!-- Определение содержимого блока -->
{% block content %}
  <!-- Основной контейнер -->
  <div class="col-12 text-center">
    <!-- Заголовок страницы -->
    <h1 class="mt-4 mb-5">{{ title }}</h1>

    <!-- Карточка с описанием сайта -->
    <div class="card mb-5">
        <p>Добро пожаловать на наш сайт рассылки сообщений!</p>
        <p>У нас есть несколько разделов, включая рассылки, сообщения, логи и клиенты.</p>
        <p>Вы можете просмотреть любой из этих разделов, чтобы узнать больше о нашей работе.</p>
        <p>Наша основная цель - помочь вам быстро создавать рассылки и задавать им параметры, а также просматривать результаты этих рассылок.</p>
        <p>Мы стремимся сделать наш сайт максимально удобным и понятным для вас, чтобы вы могли легко использовать его для своих нужд.</p>
    </div>

    <!-- Карточка с информацией о сайте -->
    <div class="card mb-5">
        <h2 class="title">Информация о сайте</h2>
        <p>Всего рассылок: {{ total_newsletters }}</p>
        <p>Активных рассылок: {{ active_newsletters }}</p>
        <p>Уникальных клиентов: {{ client_count }}</p>
    </div>

    <!-- Цикл для отображения всех блогов -->
    {% for blog in blogs %}
        <div class="card">
            <h3>{{ blog.title }}</h3>
            <img src="{{ blog.image.url }}" class="card-img-top">
        </div>
    {% endfor %}

  </div>
{% endblock %}
  