{% extends 'letters/base.html' %}

{% block content %}

  <div class="col-12 text-center">
    <h1 class="mt-4 mb-5">{{ title }}</h1>
    <p>Добро пожаловать на наш сайт рассылки сообщений!</p>
    <p>У нас есть несколько разделов, включая рассылки, сообщения, логи и клиенты.</p>
    <p>Вы можете просмотреть любой из этих разделов, чтобы узнать больше о нашей работе.</p>
    <p>Наша основная цель - помочь вам быстро создавать рассылки и задавать им параметры, а также просматривать результаты этих рассылок.</p>
    <p>Мы стремимся сделать наш сайт максимально удобным и понятным для вас, чтобы вы могли легко использовать его для своих нужд.</p>
  </div>

{% endblock %}