{% extends 'letters/base.html' %} <!-- Расширяем базовый шаблон -->

{% block content %} <!-- Начало блока контента -->

  <form method="post"> <!-- Форма для отправки почты -->
    {% csrf_token %} <!-- Токен для защиты от CSRF-атак -->
    <label for="email">Почта:</label> <!-- Метка поля ввода -->
    <input type="text" name="email" id="email"> <!-- Поле ввода для электронной почты -->
    <button type="submit" class="btn btn-outline-success">Восстановить пароль</button> <!-- Кнопка отправки формы -->
  </form>

  {% if error_message %} <!-- Если есть сообщение об ошибке -->
    <p>{{ error_message }}</p> <!-- Отображаем сообщение об ошибке -->
  {% endif %}

{% endblock %} <!-- Конец блока контента -->
